body {
  background-image: url('images/image.png');
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
}

div {
  display: flex;
  padding-left: 10em;
  margin-top: 2em;
}

h3 {
  text-align: center;
}

li {
  margin: 1em;
  padding: 0.5em;
}

li:hover {
  background-color: #ECEFF1;
  cursor: pointer;    
}

a {
	text-decoration: none;
  color: black;
}