h1 {
    text-align: center;
    font-family: 'Gamja Flower', cursive;
    margin: 0px;
    font-size: 5em;
}

div {
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    margin: 0.5em;
    opacity: 0.3;
}

div:hover {
    opacity: 1;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5em;
}