body {
    background-color: black;
}

#container {
	display: flex;
}

.some {
	border: 1px solid black;
	height: 200px;
	width: 200px;
	margin: 1em;
	background: linear-gradient(red, yellow);
}

.for {
	border: 1px solid black;
	height: 200px;
	width: 200px;
	margin: 1em;
	background: linear-gradient(-90deg, yellow, red);
}

.each {
	border: 1px solid black;
	height: 200px;
	width: 200px;
	margin: 1em;
	background: linear-gradient(red, black);
}

.meet {
	border: 1px solid black;
	height: 200px;
	width: 200px;
	margin: 1em;
	background: linear-gradient(red, yellow,blueviolet);
}
